@font-face {
    font-family: "NotoSansTC-Bold";
    src: url(fonts/NotoSansTC-Bold.otf);
  }
  
  @font-face {
    font-family: "NotoSansTC-Regular";
    src: url(fonts/NotoSansTC-Regular.otf);
  }
  
  @font-face {
    font-family: "PingFangTC-Regular";
    src: url(fonts/PingFangTC-Regular.otf);
  }
  
  @font-face {
    font-family: "PingFangTC-Thin";
    src: url(fonts/PingFangTC-Thin.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    line-height: 1.5;
    font-family: "NotoSansTC-Bold", serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100px;
  }
  
  .logo img {
    width: 258px;
    height: 48px;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 60px;
  }
  
  .blackbar {
    height: 40px;
    background-color: #313538;
  }
  
  /* navbar */
  
  .routes {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 390px;
    margin-left: 100px;
    margin-top: 20px;
  }
  .nav-text {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    letter-spacing: 25px;
    align-items: center;
    font-family: PingFangTC-Regular;
  }
  
  .nav-text.selected-text {
    color: #8b572a;
  }
  
  /*actions*/
  
  .actions {
    display: flex;
    margin-right: 44px;
    margin-top: 20px;
    justify-content: space-between;
    text-align: center;
  }
  
  /* searchbar */
  
  .search-bar {
    width: 214px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 60px;
    border: 1px solid #979797;
    margin-right: 43px;
    margin-top: 13px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: transparent;
  }
  
  .search-bar input {
    background: transparent;
    flex: 1;
    height: 30px;
    width: 50px;
    border: 0;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
  }
  
  /* ::placeholder {
    font-size: 24px;
  } */
  .search-bar button img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
  }
  .search-bar button {
    border: 0;
    background: transparent;
  }
  .small-search-bar {
    display: none;
  }
  
  /*icons*/
  
  .icon-cart {
    margin-top: 15px;
    margin-right: 60px;
    margin-left: 5px;
  }
  
  .icon-member {
    margin-top: 15px;
    margin-right: 15px;
  }
  
  img.shopping-cart {
    width: 30px;
    height: 30px;
  }
  
  img.member {
    width: 30px;
    height: 30px;
  }
  
  .icons-smallscreen {
    display: none;
  }
  
  .carousel {
    width: 100%;
    position: absolute;
  }
  
  .carousel-slide {
    width: 100%;
    position: absolute;
    transition: opacity 3s;
  }
  
  .pic {
    width: 100%;
    height: 500px;
  }
  
  .carousel-caption {
    position: absolute;
    top: 150px;
    left: 407px;
    transition: opacity 3s;
  }
  
  .text {
    color: black;
    font-size: 30px;
    font-family: PingFangTC-Thin;
    line-height: 57px;
  }
  
  .small-text {
    color: black;
    font-size: 20px;
    font-family: PingFangTC-Thin;
    line-height: 70px;
  }
  
  .carousel-bullets {
    list-style: none;
    margin: 12px auto -6px;
    padding: 0;
    position: absolute;
    top: 580px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  .carousel-bullet {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px 0;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    transition: background-color 2s ease;
  }
  
  .carousel-bullet.active {
    background-color: #8b572a;
  }
  
  .middle-bar {
    display: none;
  }
  
  /* products box */
  
  .product-boxes {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin-top: 70px;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 600px;
  }
  
  .product-boxes::after {
    content: "";
    width: 360px;
  }
  
  .product {
    width: 360px;
    position: relative;
  }
  
  .product img {
    width: 360px;
    position: relative;
  }
  
  .hide {
    display: none;
  }
  
  .new-arrival {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c49871;
    font-size: 1vw;
    font-family: NotoSansCJKtc-Regular;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    color: white;
    position: absolute;
    top: 3%;
    left: 76%;
  }
  
  .product-color {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .color {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 0.05px solid rgb(235, 235, 235);
  }
  
  .product-text {
    font-family: NotoSansCJKtc-Regular;
    line-height: 20px;
    margin-bottom: 30px;
  }
  
  .product-text p {
    font-family: NotoSansCJKtc-Regular;
    line-height: 40px;
    letter-spacing: 4px;
    font-size: 20px;
  }
  
  /* footer section */
  
  .footer {
    background-color: #313538;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
  }
  
  .bottom-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-services {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 90px;
  }
  
  .footer-items {
    display: flex;
    justify-content: center;
    width: 136px;
    align-items: center;
  }
  
  .footer-items a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: PingFangTC-Regular;
    font-size: 16px;
    width: calc(100% - 5.2px);
  }
  
  .footer-items:not(:first-child)::before {
    content: "";
    display: inline-block;
    border-left: 1px solid white;
    height: 18px;
  }
  
  .footer-contact {
    display: flex;
    justify-content: space-between;
    width: 210px;
    gap: 30px;
    margin-right: 30px;
  }
  
  .footer-contact span img {
    width: 50px;
    height: 50px;
  }
  
  .footer-copyright {
    color: aqua;
    font-family: PingFangTC-Regular;
  }
  
  .footer-copyright span {
    color: white;
    font-size: 12px;
    font-family: PingFangTC-Regular;
  }
  
  /* RWD */
  
  @media screen and (max-width: 1280px) {
    .header {
      display: flex;
      height: auto;
      width: 100vw;
      justify-content: space-between;
      text-align: center;
    }
  
    .routes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar {
      display: flex;
      height: 50px;
      background-color: #313538;
      width: 100vw;
      justify-content: space-evenly;
      align-items: center;
      border: border-box;
      margin: 0px;
    }
  
    #nav-text-middle-bar {
      margin: 0px;
    }
  
    .logo img {
      display: flex;
      width: 131px;
      height: 25px;
      padding: 0px;
      margin-top: 13px;
      margin-bottom: 14px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .nav-text {
      display: inline;
      padding: 0px;
      font-family: PingFangTC;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      color: #828282;
      letter-spacing: normal;
      margin: 0;
      width: auto;
    }
  
    .nav-text.selected-text {
      color: white;
    }
  
    .icons-smallscreen {
      display: inline;
      height: 44px;
      width: 44px;
      align-items: center;
      position: absolute;
      right: 12px;
      top: 15px;
    }
  
    .icons-smallscreen img {
      width: 23px;
      height: 23px;
    }
  
    .actions {
      display: none;
    }
  
    /* 尚未點按search前 */
  
    .before-clicked {
      display: flex;
      align-items: center;
      height: 52px;
    }
  
    .small-search-bar {
      display: none;
      width: 0vw;
      height: 40px;
      background-color: transparent;
      display: flex;
      align-items: center;
      border-radius: 60px;
      border: 0px solid #979797;
      margin-top: 13px;
      margin-bottom: 15px;
      box-sizing: border-box;
      background-color: transparent;
    }
  
    .small-search-bar-input {
      background: transparent;
      flex: 1;
      height: 30px;
      width: 10px;
      border: 1;
      outline: none;
      display: none;
    }
  
    .small-search-bar-img {
      width: 24px;
      height: 24px;
      margin-right: 3vw;
      display: inline;
      align-items: center;
      position: absolute;
      right: 3vw;
      top: 15px;
    }
  
    .small-search-bar-button {
      border-color: transparent;
      background-color: transparent;
    }
  
    /* 點下search後 */
  
    .logo.clicked {
      display: none;
    }
  
    .small-search-bar.clicked {
      width: 95vw;
      height: 40px;
      background-color: transparent;
      display: flex;
      align-items: center;
      border-radius: 60px;
      border: 1px solid #979797;
      margin-right: 3px;
      margin-top: 13px;
      margin-bottom: 15px;
      box-sizing: border-box;
      background-color: transparent;
    }
  
    .small-search-bar-input.clicked {
      display: block;
      background: transparent;
      height: 30px;
      width: 200px;
      outline: none;
      padding-left: 20px;
      border-color: transparent;
      font-size: 18px;
    }
  
    .small-search-bar-img.clicked {
      width: 24px;
      height: 24px;
      display: inline;
      align-items: center;
      position: absolute;
      right: 6vw;
      top: 20px;
    }
  
    .blackbar {
      display: none;
    }
  
    /*carousel*/
  
    .carousel {
      width: 100%;
      height: 185px;
    }
  
    .pic {
      width: 100%;
      height: 185px;
    }
  
    .pic img {
      width: 100%;
      height: 185px;
    }
  
    .carousel-caption {
      position: absolute;
      top: 40px;
      left: 23px;
    }
  
    .text {
      color: black;
      font-size: 15px;
      font-family: PingFangTC-Thin;
      line-height: 28px;
    }
  
    .small-text {
      color: black;
      font-size: 8px;
      line-height: 28px;
    }
  
    .carousel-bullets {
      top: 238px;
    }
  
    .carousel-bullet {
      cursor: pointer;
      display: inline-block;
      width: 4px;
      height: 4px;
      margin: 0 2.6px 0;
      border-radius: 50%;
      background-color: white;
      opacity: 1;
    }
  
    .carousel-bullet.active {
      background-color: #8b572a;
    }
  
    /* middle-bar */
  
    .middle-bar {
      display: flex;
      z-index: 10;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: #313538;
      align-items: center;
      height: 60px;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: 16px;
      font-family: PingFangTC-Regular;
    }
  
    .middle-bar-items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
  
    .middle-cart-icon img {
      height: 40px;
      width: 40px;
    }
  
    .middle-member-icon img {
      height: 44px;
      width: 44px;
    }
  
    .middle-bar-line {
      color: white;
    }
  
    .below-text-cart {
      font-size: 16px;
      font-family: PingFangTC-Regular;
      color: white;
    }
  
    .below-text-member {
      font-size: 16px;
      font-family: PingFangTC-Regular;
      color: white;
    }
  
    /*products*/
  
    .product-boxes {
      width: calc(100% - 48px);
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 5px;
      margin-top: 220px;
    }
  
    .product {
      width: calc(50% - 3px);
      position: relative;
    }
  
    .new-arrival {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c49871;
      font-size: 3vw;
      font-family: NotoSansCJKtc-Regular;
      border-radius: 50%;
      width: 10vw;
      height: 10vw;
      color: white;
      position: absolute;
      top: 3%;
      left: 70%;
    }
  
    .product-photo img {
      width: 100%;
      display: block;
    }
  
    .product1-photo img {
      width: 100%;
      display: block;
    }
  
    .color {
      width: 12px;
      height: 12px;
      margin-right: 6px;
    }
  
    .color2-2,
    .color3-2,
    .color4-2,
    .color5-2,
    .color6-2 {
      margin-left: 6px;
    }
  
    .product-color {
      display: flex;
      margin-top: 8px;
      margin-bottom: 10px;
    }
  
    .product-text {
      font-family: NotoSansCJKtc-Regular;
      line-height: 20px;
      margin-bottom: 20px;
    }
  
    .product-text p {
      font-family: NotoSansCJKtc-Regular;
      line-height: 20px;
      letter-spacing: 0px;
      font-size: 12px;
      letter-spacing: 2.4px;
    }
  
    /* footer section */
  
    .footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 148px;
      margin-bottom: 10px;
      width: 100%;
    }
  
    .bottom-footer {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 60px;
      height: 148px;
      width: 100%;
      background-color: #313538;
      padding-top: 0px;
    }
  
    .footer-services {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 0px;
      max-height: 90px;
      text-align: left;
      margin-left: 40px;
      padding-top: 15px;
    }
  
    .footer-items {
      width: 110px;
      display: flex;
      line-height: 29px;
    }
  
    .footer-items a {
      text-decoration: none;
      color: white;
      font-family: PingFangTC-Regular;
      font-size: 14px;
    }
  
    .footer-items:not(:first-child)::before {
      display: none;
    }
  
    .footer-contact {
      display: flex;
      justify-content: space-between;
      width: auto;
      margin-right: 0;
      gap: 15px;
      padding-right: 22px;
      padding-bottom: 5px;
    }
  
    .footer-contact span img {
      width: 20px;
      height: 20px;
    }
  
    .footer-copyright {
      color: #828282;
      font-family: PingFangTC-Regular;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      padding-bottom: 12px;
    }
  
    .footer-copyright span {
      color: #828282;
      font-size: 10px;
      font-family: PingFangTC-Regular;
    }
  }
  